[submodule "compute"]
	path = compute
	url = https://github.com/boostorg/compute.git
[submodule "libgraph"]
	path = libgraph
	url = https://github.com/SimonLarsen/libgraph.git
[submodule "tclap"]
	path = tclap
	url = https://github.com/SimonLarsen/tclap.git
